.ag-container .ag-cell-custom {
  padding: 8px;
  border-right: 3px solid #ddd;
  line-height: 24px;
  text-align: left;
  background-color: #f9f9f9;
  font-size: 16px;
  font-weight: normal;
  color: #333;
  transition: background-color 0.3s;
  column-span: none;
}

.ag-container .ag-header.ag-header-allow-overflow .ag-header-row {
  overflow: visible;
  background-color: #1c1c98a6;
}

.ag-container .ag-row-even {
  background-color: #f9f9f9;
}

.ag-container .ag-row-odd {
  background-color: #ffffff;
}
